<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-formulario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
     
    
    ​<template is="dom-if" if="[[!acceso]]" restamp>
        <form>
        <legend>Ingresa a tu cuenta</legend>
      <p>
        <label for="user">Username:</label>
        <input type="text" name="user" id="user">
      </p>
      <p>
        <label for="pass">Password:</label>
        <input type="password" name="pass" id="pass">
      </p>
      <button type="button" on-click="validate" id="btnData">Continue</button>
    </form>
  </template>
​
    <template is="dom-if" if="[[acceso]]">
        <h2>Bienvenido [[acceso]]</h2>
  </template>
​
    </template>
  <script>
    /**
     * `my-formulario`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyFormulario extends Polymer.Element {
      static get is() { return 'my-formulario'; }
      static get properties() {
        return {
                    usuarios: {
                        type: Array,
                        value: [{
                            username: 'ernamo',
                            password: '123',
                            name: 'Ernesto',
                            last: 'Perez',
                            rol: 'seller'
                        }, {
                            username: 'jun231',
                            password: 'try34t',
                            name: 'Jimena',
                            last: 'Olguin',
                            rol: 'admin'
                        }, {
                            username: 'patrr12',
                            password: 'oplle1',
                            name: 'Patricia',
                            last: 'Jimenez',
                            rol: 'seller'
                        }]
                    },
                    acceso: {
                        type: String,
                        value: ""
                    }
                };
            }
            validate() {

              

                let us = this.shadowRoot.getElementById('user');
                let ps = this.shadowRoot.getElementById('pass');

                console.log(us.value, ps.value);
                this.usuarios.forEach(key => {
                    if (us.value == key.username && ps.value == key.password) {
                        console.log(us.value, ps.value, key.username, key.password);
                        this.acceso = key.name;

                    }
                });

                /* this.usuarios.forEach(key => {
                    if (this.$.user.value == key.username && this.$.pass.value == key.password) {
                        console.log(this.$.user.value, this.$.pass.value, key.username, key.password);
                        this.acceso = "true"
​
                    }
​
                }); */
            }
        }
    window.customElements.define(MyFormulario.is, MyFormulario);
  </script>
</dom-module>
